<h1>Alle Postings</h1>
<ul class="menu">
  <li><%= link_to "Home", root_path %></li>
</ul>

<table class="normal simple">
  <tr>
    <th>ID</th>
    <th>&Uuml;berschrift</th>
    <th></th>
  </tr>

  <% @postings.each do |posting| %>
  <tr>
    <td><%= posting.id %></td>
    <td><%= posting.subtitle %></td>
    <td><%= link_to 'Show', posting %></td>
  </tr>
  <tr>
    <td colspan=3><pre><%= posting.content %></pre></td>
  </tr>
<% end %>
</table>

<br />
